*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* header  */
.title{
    font-family: 'Architects Daughter';
    color: #29b1dd;
    padding: .5rem;
}
nav{
    text-align: center;
    color: white;
    padding: 1rem;
}
/* principal */
.container{
    background-color: lightgrey;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
}
.col{
    width: calc((100% / 5) );
    padding-bottom: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    background-color: white;
    width: 150px;
    height: 80px;
    border-radius: 10%;
    box-shadow:2px 2px 2px grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}
.card i{
    font-size: 2rem;
    padding: 4px;
}
/* utility */
.azzurro{
    background-color: #29b1dd;
}
